<!DOCTYPE html>
<html lang="en">
<head>
    {% block head %}
    <meta charset="UTF-8">
    <title>HOME</title>
    {% endblock %}
</head>
<body>
    {% block menu %}
        <nav>
            <a href="{% url 'index' %}">Главная</a>>
            <a href="{% url 'allkino' %}">Каталог фильмов</a>>
            <a href="{% url 'allartists' %}">Каталог актеров</a>>
        </nav>>
    {% endblock %}
    
    {% block content %}
        <h>Привет гость</h>2
        <h3>Сайт про кино</h3>
        <h2> У нас на сайте {{films.count  }} фильмов</h2>>
        <h2> У нас на сайте {{artists.count}} актеров</h2>>
        
        <h3>Рекомендуем посмотреть кино
            <a href="kino/ {{ randomFilm.get_absolute_url }}">{{ randomFilm }}</a>>
    </h3>
    {% endblock %}
</body>
</html>